.imgsss{
    background: slategrey;
    width: 100%;
    height: 333px;
}
.cour_inner{
    display: flex;
    margin: 0 0 72px;
}
.event__h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}
.events__inner{
    width: 100%;
    margin: 0 62px;
    display: flex;
    justify-content: space-between;
}
.events__inner--cour{
    justify-content: unset;
    flex-direction: column;
}

.events {
    display: flex;
    margin: 0 0 130px;
}
.block{
    display: flex;
    gap: 28px;
}
.block_events {
    display: flex;
    flex-direction: column;

    gap: 28px;
}
.card__event {
    border-radius: 60px;
    border: 2px solid var(--primary-500, #7a2abd);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.information__events {
    padding: 33px 16px 66px 32px;
    display: flex;
    flex-direction: column;
}
.title__events {
    padding: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin: 0 0 20px;
}
.desc__events{
    font-weight: 400;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: 0%;
    color: #414141;
    margin: 0 0 20px;
}
.info__event{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 12px;
}
.date__events{
    font-weight: 400;
    font-size: 18px;
    line-height: 146%;
    letter-spacing: 0%;
    color: #A9A9A9;
}

.price{
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    color: #000000;
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.credit{
    font-weight: 400;
    font-size: 16px;
    line-height: 146%;
    letter-spacing: 0%;
    color: #4B4B4B;
}